
<navbar class="navbar navbar-nav fixed-top">
    <div class="container-fluid">
      <div class="col">
        <a class="navbar-brand justify-content-start" href="/"><img src="/img/Logo.png" class="logo"></a>
        
      
      </div>
    
      <form class="input-group mb-1 searchBar justify-content-center col" action="/pesquisa" method="post">
        <input type="text" id="pesquisa" name="pesquisa" class="form-control form-control-sm inputSearch" placeholder="search...">
        <button class="btn buttonSearch" type="submit" id="btnSearch" ><img src="/img/icons/search.png" class="searchIcon"></button>
      </form>
      

      <div class="col d-flex justify-content-end align-items-center">
      
        <div>
          <a href="/uploadKit" class="liDropdownNav"><img src="/img/icons/plus.png" class="dropdownIcon"></a>
        </div>
        
        <div class="profileBar profileBarColumns mx-2"></div>
        
        <div class="btn-group">
          <button class="liDropdownNav btn dropdown dropdownNav d-flex justify-content-center align-items-center" type="button" data-bs-toggle="dropdown">
            <img src="/img/icons/options.png" class="dropdownIcon">
          </button>
          <ul class="dropdown-menu dropdown-menu-end ulDropdownNav">
            <li><a class="liDropdownNav text-link" href="/profile"><img src="/img/icons/profile.png" class="dropdownIcon">Profile</a></li>
            <li><a class="liDropdownNav" href="/about"><img src="/img/icons/about.png" class="dropdownIcon">About us</a></li>
            <li><a class="liDropdownNav" href="/favs"><img src="/img/icons/favorite1.png" class="dropdownIcon">Favorites</a></li>
          </ul>
        </div>
      
        <div class="profileBar profileBarColumns mx-2"></div>
      
        <div class="profile">
          <a href="/logOut" class="liDropdownNav"><img src="/img/icons/logoff.png" class="dropdownIcon"></a>
        </div>
      </div>
      

      </div>
    </div>
    <ul class="kit"></ul>
</navbar>
<script src="\js\pesquisa.js"></script>