<navbar class="navbar navbar-nav fixed-top navbarProp">
    <div class="container-fluid">
      <div class="col">
        <a class="navbar-brand justify-content-start" href="/"><img src="/img/Logo.png" class="logo"></a>
        
      
      </div>
    
      <form class="input-group mb-1 searchBar justify-content-center col" method="post">
        <input type="text" class="form-control form-control-sm inputSearch" placeholder="search...">
        <button class="btn buttonSearch" type="submit" id="btnSearch" ><img src="/img/icons/search.png" class="searchIcon"></button>
      </form>

      <div class="col">
      
        <div class="btn-group float-end " >
        <a class="btn btnLog btnBase" type="button" href="/login">
          Login
        </a>
        </div>

        <div class="btn-group float-end" >
          <a class="btn btnLog btnBase" type="button" href="/singUp">
            Sing Up
          </a>
          </div>

      </div>

      </div>
    </div>
</navbar>
<style>
  .btnsLog{
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: linear-gradient(to right, #5EECFF , #00C6E0) !important;
    border-width: 0px !important;
    color: #121212 !important;
  }
  .ulDropdownNav{
    /*margin-top: 25px !important;*/
    position: absolute !important;
    border-end-end-radius: 20px !important;
    border-start-start-radius: 20px !important;
    border-end-start-radius: 20px !important;
    border-start-end-radius: 0px !important;
    border-color: #606060;
    background-color: #121212;
  }
  .liDropdownNav{
    color: #606060;
    outline-color: #606060 !important;
    outline-width: 1px !important;
    padding: 15px;
    border-bottom: 25px;
    border-top: 25px;
    text-decoration: none !important;
  }
  .dropdownIcon{
    margin-right: 5px;
  }
  .dropdownNav{
    border-radius: 50% !important;
        width: 25px;
        height: 25px;
        margin-left: 5px !important;
        margin-right: 5px !important;
        background-color: #121212 !important;
        outline-style: none !important;
  }
  .profileBar:empty{
    background-color:#606060 !important;
    color: #606060 !important;
    width: 1px;
  }
    .profile{
        border-radius: 50% !important;
        background-color: #FFFF !important;
        width: 25px;
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
    .logo{
        color: #5EECFF !important;
        margin-left: 45px;
    }
   nav{
    background-color: #121212;
    margin-bottom: 63px !important;
  }
  .searchBar{
    width: 500px !important;
  }
  .inputSearch{
    border-start-start-radius: 20px !important;
    border-end-start-radius: 20px !important;
    background-color: #121212 !important;
    color: #606060 !important;
    border-color: #606060 !important;
  }
  .buttonSearch{
    border-start-end-radius: 20px !important;
    border-end-end-radius: 20px !important;
    background-color: #606060 !important;
    outline-color: #606060 !important;
    color: #121212;
  }
</style>