<%- include("partials/header")%>
<<<<<<< HEAD
  <link rel="stylesheet" type="text/css" href="CSS/index.css" />

  <body>
    <%- include("partials/hudLog") %>

      <!-- sobre o siterrr-->
      <div class="container indexDiv">
        <h1 class="topicsTitles text-center">About Us</h1>
        <p class="subTitle text-center" style="margin-left: 26px;">Who are we?</p>
        <div class="linha"></div>
        <div class="container">
          <p class=" subTitle text-start">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quos aliquam, unde voluptatem
            dicta dignissimos enim similique at, rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
            omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            sed molestiae aspernatur autem blanditiis aliquam ad provident error expedita adipisci! Libero facilis
            iure sunt hic ea culpa eligendi doloribus deserunt.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quos aliquam, unde voluptatem
            dicta dignissimos enim similique at, rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
            omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            sed molestiae aspernatur autem blanditiis aliquam ad provident error expedita adipisci! Libero facilis
            iure sunt hic ea culpa eligendi doloribus deserunt.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quos aliquam, unde voluptatem
            dicta dignissimos enim similique at, rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
            omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            sed molestiae aspernatur autem blanditiis aliquam ad provident error expedita adipisci! Libero facilis
            iure sunt hic ea culpa eligendi doloribus deserunt.

          </p>
        </div>
        <br>
        <div class="linha"></div>
        <br>

        <!-- sobre nozes -->
        <div class="row">
          <div class="col">
            <h1 class="topicsTitles text-start">Enzo de Souza Hingst</h1>
            <div class="linha"></div>
            <div class="container">
              <p class=" subTitle text-start">
                <img src="./img/about/1.jpg" class="float-start"
                  style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; margin: 5px;">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quos aliquam, unde voluptatem
                dicta dignissimos enim similique at, rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
                omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                sed molestiae aspernatur autem blanditiis aliquam ad provident error expedita adipisci! Libero facilis
                iure sunt hic ea culpa eligendi doloribus deserunt.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quos aliquam, unde voluptatem
                dicta dignissimos enim similique at, rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
                omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                sed molestiae aspernatur autem blanditiis aliquam ad provident error expedita adipisci! Libero facilis
                iure sunt hic ea culpa eligendi doloribus deserunt.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quos aliquam, unde voluptatem
                dicta dignissimos enim similique at, rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
                omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                sed molestiae aspernatur autem blanditiis aliquam ad provident error expedita adipisci! Libero facilis
                iure sunt hic ea culpa eligendi doloribus deserunt.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quos aliquam, unde voluptatem
                dicta dignissimos enim similique at, rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
                omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                sed molestiae aspernatur autem blanditiis aliquam ad provident error expedita adipisci! Libero facilis
                iure sunt hic ea culpa eligendi doloribus deserunt.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quos aliquam, unde voluptatem
                dicta dignissimos enim similique at, rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
                omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                sed molestiae aspernatur autem blanditiis aliquam ad provident error expedita adipisci! Libero facilis
                iure sunt hic ea culpa eligendi doloribus deserunt.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quos aliquam, unde voluptatem
                dicta dignissimos enim similique at, rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
                omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                sed molestiae aspernatur autem blanditiis aliquam ad provident error expedita adipisci! Libero facilis
                iure sunt hic ea culpa eligendi doloribus deserunt.
              </p>
            </div>
          </div>

          <div class="col">
            <h1 class="topicsTitles text-start">Caio da Silva Fernandes</h1>
            <div class="linha"></div>
            <div class="container">
              <p class=" subTitle text-start">
                <img src="./img/about/2.jpeg" class="float-start"
                  style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; margin: 5px;">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quos aliquam, unde voluptatem
                dicta dignissimos enim similique at, rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
                omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                sed molestiae aspernatur autem blanditiis aliquam ad provident error expedita adipisci! Libero facilis
                iure sunt hic ea culpa eligendi doloribus deserunt.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quos aliquam, unde voluptatem
                dicta dignissimos enim similique at, rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
                omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                sed molestiae aspernatur autem blanditiis aliquam ad provident error expedita adipisci! Libero facilis
                iure sunt hic ea culpa eligendi doloribus deserunt.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quos aliquam, unde voluptatem
                dicta dignissimos enim similique at, rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
                omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                sed molestiae aspernatur autem blanditiis aliquam ad provident error expedita adipisci! Libero facilis
                iure sunt hic ea culpa eligendi doloribus deserunt.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quos aliquam, unde voluptatem
                dicta dignissimos enim similique at, rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
                omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                sed molestiae aspernatur autem blanditiis aliquam ad provident error expedita adipisci! Libero facilis
                iure sunt hic ea culpa eligendi doloribus deserunt.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quos aliquam, unde voluptatem
                dicta dignissimos enim similique at, rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
                omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                sed molestiae aspernatur autem blanditiis aliquam ad provident error expedita adipisci! Libero facilis
                iure sunt hic ea culpa eligendi doloribus deserunt.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quos aliquam, unde voluptatem
                dicta dignissimos enim similique at, rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
                omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                sed molestiae aspernatur autem blanditiis aliquam ad provident error expedita adipisci! Libero facilis
                iure sunt hic ea culpa eligendi doloribus deserunt.
              </p>
            </div>
          </div>
        </div>

      </div>

  </body>

  </html>
=======
<link rel="stylesheet" type="text/css" href="CSS/index.css" />

<style>
  @media(max-width: 1403px){
  .linha1 {
    margin-top: 140px !important;
  }
}
</style>

<body>
  <%- include("partials/hudAdm")%>

  <!-- sobre o siterrr-->
  <div class="container" style="margin-bottom: 10px">
    <h1 class="topicsTitles text-center">About Us</h1>
    <p class="subTitle text-center" style="margin-left: 26px">Who are we?</p>
    <div class="linha"></div>
    <div class="container">
      <p class="subTitle text-start" style="width: fit-content; margin: 5px;">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
        quos aliquam, unde voluptatem dicta dignissimos enim similique at, rem
        perspiciatis eveniet vitae molestias voluptatum voluptatibus omnis
        quidem optio laborum maxime. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Cupiditate sed molestiae aspernatur autem blanditiis
        aliquam ad provident error expedita adipisci! Libero facilis iure sunt
        hic ea culpa eligendi doloribus deserunt. Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Cupiditate quos aliquam, unde voluptatem
        dicta dignissimos enim similique at, rem perspiciatis eveniet vitae
        molestias voluptatum voluptatibus omnis quidem optio laborum maxime.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sed
        molestiae aspernatur autem blanditiis aliquam ad provident error
        expedita adipisci! Libero facilis iure sunt hic ea culpa eligendi
        doloribus deserunt. Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Cupiditate quos aliquam, unde voluptatem dicta dignissimos enim
        similique at, rem perspiciatis eveniet vitae molestias voluptatum
        voluptatibus omnis quidem optio laborum maxime. Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Cupiditate sed molestiae aspernatur
        autem blanditiis aliquam ad provident error expedita adipisci! Libero
        facilis iure sunt hic ea culpa eligendi doloribus deserunt.
      </p>
    <br/>
    <div class="linha linha1"  style="margin-top: 125px;"></div>
  </div>
    <br />

    <!-- sobre nozes -->
    <div class="row">
      <div class="col">
        <h1 class="topicsTitles text-start">Enzo de Souza Hingst</h1>
        <div class="linha"></div>
        <div class="container">
          <p class="subTitle text-start">
            <img
              src="./img/about/1.jpg"
              class="float-start"
              style="
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
                margin: 5px;
              "
            />
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
            quos aliquam, unde voluptatem dicta dignissimos enim similique at,
            rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
            omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Cupiditate sed molestiae aspernatur
            autem blanditiis aliquam ad provident error expedita adipisci!
            Libero facilis iure sunt hic ea culpa eligendi doloribus deserunt.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
            quos aliquam, unde voluptatem dicta dignissimos enim similique at,
            rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
            omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Cupiditate sed molestiae aspernatur
            autem blanditiis aliquam ad provident error expedita adipisci!
            Libero facilis iure sunt hic ea culpa eligendi doloribus deserunt.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
            quos aliquam, unde voluptatem dicta dignissimos enim similique at,
            rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
            omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Cupiditate sed molestiae aspernatur
            autem blanditiis aliquam ad provident error expedita adipisci!
            Libero facilis iure sunt hic ea culpa eligendi doloribus deserunt.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
            quos aliquam, unde voluptatem dicta dignissimos enim similique at,
            rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
            omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Cupiditate sed molestiae aspernatur
            autem blanditiis aliquam ad provident error expedita adipisci!
            Libero facilis iure sunt hic ea culpa eligendi doloribus deserunt.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
            quos aliquam, unde voluptatem dicta dignissimos enim similique at,
            rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
            omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Cupiditate sed molestiae aspernatur
            autem blanditiis aliquam ad provident error expedita adipisci!
            Libero facilis iure sunt hic ea culpa eligendi doloribus deserunt.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
            quos aliquam, unde voluptatem dicta dignissimos enim similique at,
            rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
            omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Cupiditate sed molestiae aspernatur
            autem blanditiis aliquam ad provident error expedita adipisci!
            Libero facilis iure sunt hic ea culpa eligendi doloribus deserunt.
          </p>
        </div>
      </div>

      <div class="col">
        <h1 class="topicsTitles text-start">Caio da Silva Fernandes</h1>
        <div class="linha"></div>
        <div class="container">
          <p class="subTitle text-start">
            <img
              src="./img/about/2.jpeg"
              class="float-start"
              style="
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
                margin: 5px;
              "
            />
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
            quos aliquam, unde voluptatem dicta dignissimos enim similique at,
            rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
            omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Cupiditate sed molestiae aspernatur
            autem blanditiis aliquam ad provident error expedita adipisci!
            Libero facilis iure sunt hic ea culpa eligendi doloribus deserunt.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
            quos aliquam, unde voluptatem dicta dignissimos enim similique at,
            rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
            omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Cupiditate sed molestiae aspernatur
            autem blanditiis aliquam ad provident error expedita adipisci!
            Libero facilis iure sunt hic ea culpa eligendi doloribus deserunt.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
            quos aliquam, unde voluptatem dicta dignissimos enim similique at,
            rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
            omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Cupiditate sed molestiae aspernatur
            autem blanditiis aliquam ad provident error expedita adipisci!
            Libero facilis iure sunt hic ea culpa eligendi doloribus deserunt.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
            quos aliquam, unde voluptatem dicta dignissimos enim similique at,
            rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
            omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Cupiditate sed molestiae aspernatur
            autem blanditiis aliquam ad provident error expedita adipisci!
            Libero facilis iure sunt hic ea culpa eligendi doloribus deserunt.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
            quos aliquam, unde voluptatem dicta dignissimos enim similique at,
            rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
            omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Cupiditate sed molestiae aspernatur
            autem blanditiis aliquam ad provident error expedita adipisci!
            Libero facilis iure sunt hic ea culpa eligendi doloribus deserunt.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
            quos aliquam, unde voluptatem dicta dignissimos enim similique at,
            rem perspiciatis eveniet vitae molestias voluptatum voluptatibus
            omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Cupiditate sed molestiae aspernatur
            autem blanditiis aliquam ad provident error expedita adipisci!
            Libero facilis iure sunt hic ea culpa eligendi doloribus deserunt.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
>>>>>>> 28f1dae382ed525a2724793177ca07bfc0ab1096
