<%- include("partials/header")%>
  <link rel="stylesheet" type="text/css" href="CSS/index.css"/>
  
  <style>

  </style>
  <body>
    <%- include("partials/hudAdm")%>

    <!-- sobre o siterrr-->
    <div class="container indexDiv" >
        <h1 class="topicsTitles text-center">Sobre nós</h1>
        <p class="subTitle text-center" style="margin-left: 26px;">Quem somos?</p>
        <div class="linha"></div>
        <div class="container subTitle text-start" style="height: fit-content;">
            Somos alunos da turma 3-54 no ensino médio do Cedup Abilio Paulo do Curso de Informática. Este projeto visa ser
            uma plataforma digital para a comercialização de pacotes de
            instrumentos virtuais. A criação dessa ferramenta busca não apenas oferecer um
            ambiente adequado para a venda desses pacotes, mas também o acesso ao
            mercado, permitindo que criadores independentes possam divulgar e comercializar
            seus trabalhos. Além disso, aprimorar os conhecimentos adquiridos no decorrer do
            curso.
        </div>
        <div class="linha"></div>
        <br>
  
    <!-- sobre nozes -->
    <div class="row">
      <div class="col">
      <h1 class="topicsTitles text-start">Enzo de Souza Hingst</h1>
        <div class="linha"></div>
        <div class="container">
            <p class=" subTitle text-start">
            <img src="./img/about/1.jpg" class="float-start" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; margin: 5px;">
            Olá, meu nome é Enzo de Souza Hingst, tenho 18 anos, sou estudante do ensino médio concluindo o terceiro ano no Cedup Abilio Paulo
            do curso técnico em informática com a realização deste projeto!
            </p>
        </div>
      </div>

      <div class="col">
        <h1 class="topicsTitles text-start">Caio da Silva Fernandes</h1>
          <div class="linha"></div>
          <div class="container">
              <p class=" subTitle text-start">
              <img src="./img/about/2.jpeg" class="float-start" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; margin: 5px;">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quos aliquam, unde voluptatem 
              dicta dignissimos enim similique at, rem perspiciatis eveniet vitae molestias voluptatum voluptatibus 
              omnis quidem optio laborum maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate 
              sed molestiae aspernatur autem blanditiis aliquam ad provident error expedita adipisci! Libero facilis
              iure sunt hic ea culpa eligendi doloribus deserunt.
              </p>
          </div>
        </div>
    </div>
  
  </div>

  </body>
</html>
