<%- include("partials/header")%>
<%- include("partials/hudLog")%>
<link rel="stylesheet" type="text/css" href="/CSS/cart.css" />
<link rel="stylesheet" type="text/css" href="/CSS/index.css"/>
<body>
    <div class="container my-4 ">
        <h1>Carrinho de Compras</h1>
        <div class="contCart">
            <!-- priemira row de pacote -->
            <div class="row productRow">
                <div class="col-6 col-md-3">
                    <img src="/uploads\img\pfp\travisScott.jpg" class="kitCart" alt="Produto 1">
                </div>
                <div class="col-6 col-md-4">
                    <p class="topicsTitles">Pacote lorem</p>
                    <img src="/img/icons/star.png" class="cardStar float-start">
        <p class="cardTxt">
            00
        </p>
                </div>
                <div class="col-6 col-md-2 text-right">
                    <p class="price">R$17,98</p>
                </div>
                <div class="col-6 col-md-2">
                    <input type="checkbox" id="prod">
                </div>
                <div class="col-6 col-md-1 text-right">
                    <a href="#" class="subTitle">Excluir</a><br>
                </div>
                <div class="linha"></div>
            </div>
            

        <!-- total e prosseguir -->
        <div class="d-flex justify-content-between mt-4 total">
            <p class="subTitle"> Total: <strong class="price">R$17,98</strong></p>
            <button class="btnBase">Continuar</button>
        </div>
    </div>
</body>