<%- include("partials/header")%>
  <link rel="stylesheet" type="text/css" href="/CSS/index.css" />
  <link rel="stylesheet" type="text/css" href="/CSS/payment.css" />

  <style>
    .subTitle {
      padding: 0;
      font-size: 25px;
    }
  </style>

  <body>
    <%- include("partials/hudLog")%>
      <% for(pack of pacote){ %>
        <a style="display: none;" href="/uploads/pack/<%= pack[0].dirPacote %>" name="linkPacote"></a>
        <% } %>
          <form class="container">
            <h1 class="title">Obrigado pela compra!</h1>
            <div class="linha"></div>
            <a class="subTitle underSAnima" style="color: #fff" href="/">Voltar para home</a>
            <div class="linha"></div>
            <img src="/img/illustrations/purchaseSuccess.png" class="imgSuccess" />
          </form>
  </body>
  <script>
    var link = document.getElementsByName("linkPacote");

    link.forEach((l) => {

      l.click();
    });
  </script>