<%- include("partials/header")%>
  <link rel="stylesheet" type="text/css" href="CSS/index.css"/>

  <body>
    <%- include("partials/hudAdm")%>

    <!-- parte dos produtos -->

    <div class="container">
      <br>

    <!-- resultados da pesquisa: -->
      
      <p class="subTitle text-start" style="margin-left: 26px; font-size: 25px;">Results for:</p>
      <div class="linha"></div>
      <br>
      <!-- fileira 1 dos pacotes -->
      <div class="row container">

        <!-- isso é um pacote (comeco) -->
      <a href="/kitPage" class="col" style="text-decoration: none;">
      <div class="card pacoteCard" style="width: 18rem;">
        <img src="https://www.jornaljoca.com.br/wp-content/uploads/2023/09/GettyImages-185095684-scaled-e1694031399314.jpg" class="imgCard" alt="...">
        <div class="cardBody">
          <h5 class="cardTitle">Pacote</h5>
          
          <div class="linha"></div>
  
          <img src="img/icons/star.png" class="cardStar float-start"><p class="cardTxt">00</p>
        
          <img src="img/icons/buyers.png" class="cardStar float-start"><p class="cardTxt"> 00</p>
          <br>
        </div>
      </div>
      </a>
        <!-- isso é um pacote (fim) -->
  
        <!-- isso é um pacote (comeco) -->
        <a href="/kitPage" class="col" style="text-decoration: none;">
          <div class="card pacoteCard" style="width: 18rem;">
            <img src="https://www.jornaljoca.com.br/wp-content/uploads/2023/09/GettyImages-185095684-scaled-e1694031399314.jpg" class="imgCard" alt="...">
            <div class="cardBody">
              <h5 class="cardTitle">Pacote</h5>
              
              <div class="linha"></div>
    
              <img src="img/icons/star.png" class="cardStar float-start"><p class="cardTxt">00</p>
            
              <img src="img/icons/buyers.png" class="cardStar float-start"><p class="cardTxt"> 00</p>
              <br>
            </div>
          </div>
          </a>
          <!-- isso é um pacote (fim) -->
  
          <!-- isso é um pacote (comeco) -->
          <a href="/kitPage" class="col" style="text-decoration: none;">
            <div class="card pacoteCard" style="width: 18rem;">
              <img src="https://www.jornaljoca.com.br/wp-content/uploads/2023/09/GettyImages-185095684-scaled-e1694031399314.jpg" class="imgCard" alt="...">
              <div class="cardBody">
                <h5 class="cardTitle">Pacote</h5>
                
                <div class="linha"></div>
      
                <img src="img/icons/star.png" class="cardStar float-start"><p class="cardTxt">00</p>
              
                <img src="img/icons/buyers.png" class="cardStar float-start"><p class="cardTxt"> 00</p>
                <br>
              </div>
            </div>
            </a>
          <!-- isso é um pacote (fim) -->
  
          <!-- isso é um pacote (comeco) -->
          <a href="/kitPage" class="col" style="text-decoration: none;">
            <div class="card pacoteCard" style="width: 18rem;">
              <img src="https://www.jornaljoca.com.br/wp-content/uploads/2023/09/GettyImages-185095684-scaled-e1694031399314.jpg" class="imgCard" alt="...">
              <div class="cardBody">
                <h5 class="cardTitle">Pacote</h5>
                
                <div class="linha"></div>
      
                <img src="img/icons/star.png" class="cardStar float-start"><p class="cardTxt">00</p>
              
                <img src="img/icons/buyers.png" class="cardStar float-start"><p class="cardTxt"> 00</p>
                <br>
              </div>
            </div>
            </a>
          <!-- isso é um pacote (fim) -->
          <a href="/kitPage" class="col" style="text-decoration: none;">
            <div class="card pacoteCard" style="width: 18rem;">
              <img src="https://www.jornaljoca.com.br/wp-content/uploads/2023/09/GettyImages-185095684-scaled-e1694031399314.jpg" class="imgCard" alt="...">
              <div class="cardBody">
                <h5 class="cardTitle">Pacote</h5>
                
                <div class="linha"></div>
      
                <img src="img/icons/star.png" class="cardStar float-start"><p class="cardTxt">00</p>
              
                <img src="img/icons/buyers.png" class="cardStar float-start"><p class="cardTxt"> 00</p>
                <br>
              </div>
            </div>
            </a>
  
      </div>

    </div>
    

  </body>
</html>