<%- include("partials/header")%>
  <link rel="stylesheet" type="text/css" href="CSS/form.css"/>

  <body>
    <%- include("partials/hudNoLog")%>

    <div class="row g-0 imgDir">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <form action="/cadastrarCliente" class="form-control pForm" method="post">
    
          <h1 class="title">Criação de conta</h1>
          <p class="subTitle"> Crie sua conta!</p>

          <div class="linha"></div>
          <!-- nome real -->
          <div class="row">
          <label class="text-start subTitle col-4">Nome</label> 
          <input type="text" name="name" id="name" placeholder="seu nome real..." class="inputForm form-control form-control-sm col" data-bs-toggle="popover" data-bs-trigger="manual" data-bs-custom-class="custom-popover" data-bs-content="Seu nome real">
          </div>
          <!-- nome de exibição/login-->
          <div class="row">
          <label class="text-start subTitle col-4">Login</label>
          <input type="text" name="login" id="login" placeholder="crie um username..." class="inputForm form-control form-control-sm col"  data-bs-toggle="popover" data-bs-trigger="manual" data-bs-custom-class="custom-popover" data-bs-content="login">
          </div>
          <!--email-->
          <div class="row">
          <label class="text-start subTitle col-4">Email</label>
          <input type="text" name="email" id="email" placeholder="seu email..." class="inputForm form-control form-control-sm col"  data-bs-toggle="popover" data-bs-trigger="manual" data-bs-custom-class="custom-popover" data-bs-content="Informe um email valído">
          </div>
          <!--senha-->
          <div class="row">
          <label class="text-start subTitle col-4">Senha</label>
          <input type="text" name="password" id="password" placeholder="crie uma senha..." class="inputForm form-control form-control-sm col"  data-bs-toggle="popover" data-bs-trigger="manual" data-bs-custom-class="custom-popover"data-bs-content="Senha com no minímo 8 caractéres">
          </div>
          <!--confirmação da senha-->
          <div class="row">
          <label class="text-start subTitle col-4">Confirme</label>
          <input type="text" name="passwordConfirm" id="passwordConfirm" placeholder="confirme sua senha..." class="inputForm form-control form-control-sm col"  data-bs-toggle="popover" data-bs-trigger="manual" data-bs-custom-class="custom-popover" data-bs-content="Repita a senha a cima">
          </div>
          <!-- aniversario -->
          <div class="row">
          <label class="text-start subTitle col-4" style="text-wrap:nowrap;">Data de nascença</label>
          <input type="date" name="dataNasc" id="dataNasc" class="inputForm form-control-sm form-control col-2 birthInput float-start" data-bs-toggle="popover" data-bs-trigger="manual" data-bs-custom-class="custom-popover" data-bs-content="Selecione uma data válida">
          </div>         
          <!--país-->
          <div class="row">
            <p class="text-start subTitle col-4">País</p>
              <select name="pais" id="pais" class="dropdown inputForm form-control form-control-sm col selectForm"  type="button" data-bs-toggle="dropdown">
              <option value="0" >Selecione um país</option>
              </select>
          </div>
          <!--estado-->
          <div class="row">
              <p class="text-start subTitle col-4">Estado</p><select name="estate" id="estate" class="dropdown inputForm form-control form-control-sm col selectForm"  type="button" data-bs-toggle="dropdown">
              <option value="estado1" >Estado1</option>
              </select>
          </div>
          <!--cidade-->
          <div class="row">
            <p class="text-start subTitle col-4">Cidade</p><select name="city" id="city" class="dropdown inputForm form-control form-control-sm col selectForm"  type="button" data-bs-toggle="dropdown">
            <option value="city1" >cidade1</option>
            </select>
        </div>
          <!--ja tem  conta-->
          <div class="row" style="width: fit-content;">
            <a class="text-start subTitle col" href="/login" style="margin-bottom:15px; text-decoration: underline;">Já possuí uma conta?</a>
          </div>

          <!-- botão do form -->
          <div class="row d-flex justify-content-center">
          <button type="submit" class="btn btnBase btnLog" id="singUpBtn">Cadastre-se</button>
          </div>
          
          
        </form>
  </div>


  <div class="col-md-6 d-flex justify-content-center align-items-center h-100 imgDiv ">
    <img src="/img/illustrations/DJ.jpeg"  class="img-fluid h-100 w-100 " style="object-fit: cover; max-height: 100vh;"></img>
  </div>
  </div>

  <!-- caso credenciais incorretas: -->
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert">
      <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Credênciais inválidas, tente novamente!</strong>

        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Certifique-se que as credênciais estão corretas!
      </div>
    </div>
  </div>



<script>
// ativar os popovers do bootstrap

/*
const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));

// funçao para mostrar os popovers
function showPopovers() {
  popoverTriggerList.forEach(popoverTriggerEl => {
    const popoverInstance = bootstrap.Popover.getOrCreateInstance(popoverTriggerEl);
    popoverInstance.show(); // exibe o popover
  });
}

const toastTrigger = document.getElementById('singUpBtn');
const toastLiveExample = document.getElementById('liveToast');

if (toastTrigger) {
  const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
  toastTrigger.addEventListener('click', (e) => {
    e.preventDefault(); 
    showPopovers(); 
    toastBootstrap.show();
  });
}

//script do dropDownButton, fodaci
const selectElement = document.getElementById('type');

selectElement.addEventListener('click', function() {
  this.classList.toggle('active');
});

document.addEventListener('click', function() {
  if (!selectElement.contains(event.target)) {
  selectElement.classList.remove('active');
  }
});*/

  </script>
  </body>
