<%- include("partials/header")%>
  <link rel="stylesheet" type="text/css" href="CSS/form.css"/>

  <body>
    <%- include("partials/hudNoLog")%>

    <div class="row g-0 imgDir">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <form class="form-control pForm" method="post" action="/cadastrarCliente">
    
          <h1 class="title">Account Creation</h1>
          <p class="subTitle"> Create you account!</p>

          <div class="linha"></div>
          <!-- nome real -->
          <div class="row">
          <label class="text-start subTitle col-4">Full name</label> 
          <input type="text" name="name" id="name" placeholder="your real name..." class="inputForm form-control form-control-sm col" data-bs-toggle="popover" data-bs-trigger="manual" data-bs-custom-class="popover" data-bs-content="nomeee">
          </div>
          <!-- nome de exibição/login-->
          <div class="row">
          <label class="text-start subTitle col-4">Login</label>
          <input type="text" name="login" id="login" placeholder="create a username..." class="inputForm form-control form-control-sm col"  data-bs-toggle="popover" data-bs-trigger="manual" data-bs-custom-class="popover" data-bs-content="login">
          </div>
          <!--email-->
          <div class="row">
          <label class="text-start subTitle col-4">Email</label>
          <input type="text" name="email" id="email" placeholder="your email..." class="inputForm form-control form-control-sm col"  data-bs-toggle="popover" data-bs-trigger="manual" data-bs-custom-class="popover" data-bs-content="Insert a valid email">
          </div>
          <!--senha-->
          <div class="row">
          <label class="text-start subTitle col-4">Password</label>
          <input type="password" name="password" id="password" placeholder="create a password" class="inputForm form-control form-control-sm col"  data-bs-toggle="popover" data-bs-trigger="manual" data-bs-custom-class="popover"data-bs-content="Your password must contain at least 8 characters">
          </div>
          <!--confirmação da senha-->
          <div class="row">
          <label class="text-start subTitle col-4">Confirm</label>
          <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="confirm your password..." class="inputForm form-control form-control-sm col"  data-bs-toggle="popover" data-bs-trigger="manual" data-bs-custom-class="popover" data-bs-content="Repeat the password above">
          </div>
          <!-- aniversario -->
          <div class="row">
          <label class="text-start subTitle col-4">Birth Date</label>
          <input type="date" name="dataNasc" id="dataNasc" class="inputForm form-control-sm form-control col-2 birthInput float-start">
          </div>
          <div class="row" style="width: fit-content;">
            <a class="text-start subTitle col" href="/login" style="margin-bottom:15px;">Already have an account?</a>
          </div>
          <!-- botão do form -->
          <div class="row d-flex justify-content-center">
          <button type="submit" class="btn btnBase" id="singUpBtn">Sing Up</button>
          </div>
          <input type="hidden" name="city" value=1>
          <input type="hidden" name="method" value="POST">
          
        </form>
  </div>


  <div class="col-md-6 d-flex justify-content-center align-items-center h-100 imgDiv ">
    <img src="/img/illustrations/DJ.jpeg"  class="img-fluid h-100 w-100 " style="object-fit: cover; max-height: 100vh;"></img>
  </div>
  </div>

  <!-- caso credenciais incorretas: -->
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert">
      <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Invalid credentials, please try again!</strong>

        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Make sure that your info are correct!
      </div>
    </div>
  </div>
  </body>