body {
  overflow-x: hidden;
}

.cover {
  width: 400px;
  height: 400px;
  margin-right: 20px;
}

.btnBase {
  width: 400px;
  margin-left: 0;
  margin-bottom: 5px;
}

.description {
  width: 300px;
  word-wrap: break-word;
  overflow: hidden;
  height: fit-content;
}

/* info status */

.pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.username {
  font-size: 25px;
  margin-left: 0px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  width: 300px !important;
}

.userAnim img {
  transition: transform 0.3s ease !important;
}

.userAnim:hover {
  img {
    transform: scale(1.1);
  }
}

/* área dos comentários */

.commentInput {
  resize: none;
  border-radius: 15px;
  width: 600px;
  background-color: transparent;
  color: #fff;
}

.sendComment {
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.comment {
  width: 600px;
  margin-left: 40px;
  height: fit-content;
}

.roller {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
  width: 660px;
}

/* sistema de avaliação */

/* ul das estrelas */
.rate {
  display: flex;
  height: 60px;
  padding-left: 0px;
  width: 250px;
  margin-bottom: 15px;
}

/* li estrelas */
.star {
  list-style-type: none;
  cursor: pointer;
  color: #00c6e0;
  font-size: 50px;
  height: 60px;

  transition: transform 0.3s ease;
}

.star:hover {
  transform: scale(1.15);
}

.star::before {
  content: "\2605";
}
.star.t ~ .star::before {
  content: "\2606";
}
.rate:hover .star::before {
  content: "\2605";
}
.star:hover ~ .star::before {
  content: "\2606";
}

.star:active {
  transform: scale(0.85);
}
/* fav */

.heart {
  cursor: pointer;
  color: #00c6e0;
  font-size: 40px;
  text-decoration: none;
  width: fit-content;
  width: 40px;
  height: 40px;
  margin-right: 25px;
  margin-bottom: 15px;
  transition: transform 0.3s ease !important;
  padding: 0px;
  align-self: center;
}

.heart:hover {
  transform: scale(1.25);
}

.heart::before {
  content: "\2764";
}

.heart:active {
  transform: scale(1.1);
}

.a {
  color: #606060 !important;
}

.moreFrom {
  width: 300px;
  height: 1070px;
}

.linhaV {
  margin-right: 15px;
}

.kitInfo {
  margin-left: 410px;
  margin-right: fit-content;
}

@media (max-width: 1405px) {
  .kitInfo {
    width: 150px;
  }
  .username{
    font-size: 15px;
  }
}

@keyframes commentAnima {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.commentPost {
  animation: commentAnima 0.5s ease forwards; /* Duração e suavização da animação */
}

/* cart */
.cart {
  cursor: pointer;
  font-size: 40px;
  text-decoration: none;
  width: 40px;
  height: 38px;
  margin-right: 25px;
  margin-bottom: 15px;
  transition: transform 0.3s ease !important;
  padding: 0px;
  background-image: url("/img/icons/addG.png");
  background-size: cover;
}

.cart:hover {
  transform: scale(1.25);
}

.cart:active {
  transform: scale(1.1);
}

.ca{
  background-image: url("/img/icons/addB.png") !important;
}
