.pfp {
  border-radius: 50%;
  width: 150px;
  height: 150px;

  margin-right: 20px;
}

.bio {
  width: 300px;
  height: fit-content;
  word-wrap: break-word;
  overflow: hidden;
  margin-bottom: 20px;
}

.userTitle {
  color: #ffff;
  margin-top: 0px;
  font-size: 50px;
}

.deleteBtn{
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: #fff;
  border-width: 2px !important;
  right: 100%;
  translate: 430% 60%;
  transition: transform 0.3s;
  padding: 2.5px;
}

.deleteBtn:hover{
  transform: scale(1.15);
  cursor: pointer;
}